<section class="course">
  <div class="section__title">RS School</div>
  <a class="link" href="https://www.epam-group.ru/careers/education/training.3543" target="_blank">
    <img class="info__logo" src="../../assets/svg/rs-logo.svg" alt="rs school logo">
  </a>
  <article class="article">
    <ul class="course__list">
      <li class="course__item">RS School - free platform to develop frontend skills and get working opportunity in EPAM. Course has been built by EPAM volunteers.</li>
      <li class="course__item">passed throw stage 1, got few projects to portfolio, in github profile</li>
      <li class="course__item">last project - art-quiz, which hasn't finished yet</li>
      <li class="course__item">have a CV on rs school: <a class="link" href="https://app.rs.school/cv/starfayer" target="_blank">link</a> (need registration)</li>
      <li class="course__item">at the moment I'm working on SPA project, art-quiz. technology stack: webpack, js (vanilla)</li>
    </ul>
  </article>
</section>