{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": true
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime"
    ],
    [
      "module-resolver", {
        "alias": {
          "@/": "src/"
        }
      }
    ]
  ]
}
