@import "../fonts/konstant-grotesk/grotesk.css";
@import "normalize.css";
@import "../fonts/konstant-grotesk/grotesk.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');


body {
  background-color: rgb(49, 39, 21);
  color: #fff;
  font-family: $header-font;
}


.header, .main {
  opacity: 0;
}
.container {
  background-image: url('../assets/img/bg.png');
  background-repeat: no-repeat;
  background-size: 100%;

  width: 650px;
  height: 90vh;
  margin: 20px auto 0;
  padding: 20px 10px;
}


.header {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  width: 98%;
  margin: 0 auto;
  &__logo {
    width: 15%;
    height: 15%;
  }
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 90px;
  }
}

.link {
  font-family: $header-font;
  color: #fff;
  transition: opacity ease-in-out .4s;
}
.link:hover {
  font-weight: 800;
}