<div class="info">
  <div class="info__column">
    <section class="section">
      <div class="section__title">experience</div>
      <article class="article">
        <div class="article__time">2021, Q2 - Present</div>
        <div class="article__title">RS School</div>
        <a class="link" href="#rs">click to see a story</a>
        <div class="article__text">
          Studied until today, passed throw stage 1. Got interesting tasks for portfolio, which can be found on GitHub.
        </div>
        <div class="article__text">
          Please, Click the link above to watch all course history and statistics.
        </div>
      </article>
      <article class="article">
        <div class="article__time">2021, Q2 - Present</div>
        <div class="article__title">Teaching</div>
        <div class="article__text">Working as a teacher at "Coddy" programming school. This school gives children basic knowledge of programming.</div>
        <div class="article__text">Web-development teacher.</div>
      </article>
    </section>
    <section class="section">
      <div class="section__title">education</div>
      <article class="article">
        <div class="article__time">2020 - Present</div>
        <div class="article__title">Voronezh State University, (VSU)</div>
        <div class="article__text">2nd year student at Physics faculty</div>
        <div class="article__text">Radiophysics</div>
      </article>
    </section>    
  </div>
  <div class="info__column">
    <section class="section">
      <div class="section__title">skills</div>
      <article class="article">
        <div class="article__title">Upper Intermediate</div>
        <ul class="article__list">
          <li class="article__text">HTML</li>
          <li class="article__text">CSS, Preprocessors</li>
          <li class="article__text">BEM methodology? (if it's a skill)</li>
        </ul>
        <div class="article__title">Intermediate</div>
        <ul class="article__list">
          <li class="article__text">JavaScript, NodeJS</li>
          <li class="article__text">Task bundler - webpack, basics of task runners</li>
          <li class="article__text">Experience in building vanillaJs apps</li>
        </ul>
      </article>
    </section>
    <section class="section">
      <div class="section__title">languages</div>
      <article class="article">
        <div class="article__lang">
          <div class="article__text">Russian</div>
          <div class="article__text">Native</div>
        </div>
        <div class="article__lang">
          <div class="article__text">English</div>
          <div class="article__text">B2</div>
        </div>
      </article>
    </section>  
  </div>
  <div class="info__column">
    <section class="section">
      <div class="section__title">contacts</div>
      <article class="article">
        <a class="link" href="https://github.com/starfayer" target="_blank">github.com/starfayer</a>
        <a class="link" href="https://t.me/touristcompany" target="_blank">t.me/touristcompany</a>
        <a class="link" href="https://vk.com/michdream" target="_blank">vk.com/michdream</a>
      </article>
    </section>
  </div>
</div>