.info {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__column {
    opacity: 1;
    @include opacity-transition;
    width: 30%;
  }
  &__extra {
    opacity: 0;
    transition: opacity ease-in-out .9s;
    @include opacity-transition;
  }
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $text-font;
  &__time {
    font-size: 10px;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
  }
  &__text {
    font-size: $text-font-size;
    margin-bottom: 5px;
    line-height: 120%;
  }
  &__list {
    margin: 0;
    padding-left: 5%;
  }
  &__lang {
    display: flex;
    justify-content: space-between;
  }
}

.article > * {
  margin-bottom: 10px;
}

.section {
  &__title {
    position: relative;
    font-size: 12px;
    padding-bottom: 16px;
    text-transform: uppercase;
  }
  &__title::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}

.section + .section {
  padding-top: 10px;
}